$color-mid: #901cad;
$color-teal: #17a2b8;

@mixin bg-color($color) {
  background-color: $color;
  color: white;
}

#reserveModal {
  .modal-header {
    @include bg-color(#17a2b8);
  }
}

#loginModal {
  .modal-header {
    @include bg-color(#901cad);
  }
}
